*{
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

h1, h2, h6{
  margin-bottom: 10px;
}

button{
  margin: 10px 10px;
  padding: 15px;
  background-color: orange;
  border-radius: 25px;
}

button:hover{
  background-color: red;
}

hr{
  margin: 10px 10px;
}

body{
  width: 50%;
  background-color: #e0e0e0;
  margin-top: 20px;
  font-family: sans-serif;
}

.primo img{
  width: 100px;
  border-radius: 50%;

}

.best_tre img{
  width: 100px;
  float: left;
  padding-right: 10px;
}

.best_tre{
  margin-bottom: 40px;
}

.col{
  float: left;
  padding: 10px;
  background-color: white;
  border-radius: 5px;

}

.primo{
    width: 35%;
}

.secondo{
      float: right;
      width: 60%;
  }

.bio{
  padding: 10px;
  text-align: center;
}

.social{
  margin-top: 30px;
}


.social li{
  display: block;
  margin-right: 10px;
  float: left;
}

.about{
  width: 70%;
  float: left;
  position: relative;
}

.credit{
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 5px;
}

.credit li{
  display: inline;
  margin-right: 5px;

}

main:after{
  clear: left;
  display: table;
  content: '';
}

.fas, .fab{
  padding: 5px;
  margin-left: 5px;
  color: orange;
  font-size:25px;
}

.fas:hover{
  color:red;
}

footer{
  position: relative;
  width: 100%;
  margin-top: 30px;
}
